<nav class="navbar navbar-expand-lg bg-body-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="navbar-brand Display-5" aria-current="page" routerLink="/khassidas">KHASSIDA</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand Display-5" aria-current="page" routerLink="/traduction">TRADUCTION</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand Display-5" aria-current="page" routerLink="/quran">QURAN</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="navbar-brand Display-5" aria-current="page" routerLink="/admin">ADMINISTRATEUR</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="btn btn-danger Display-6" aria-current="page" (click)="logout()">DECONNECTION</a>
        </li>
      </ul>
    </div>
    <div class="d-flex" role="search">
      <app-search></app-search>
    </div>
  </div>
</nav>
