.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #012015;
  padding: 0 10px;
  list-style-type: none;
}

.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  list-style-type: none;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.navbar ul li a:hover, .navbar ul li a:focus {
  background-color: #fdd300;
  color: black;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
  width: 0;
  height: 0;
}


.container-fluid{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Bouton de toggle blanc */
.navbar .custom-toggler .navbar-toggler-icon {
  filter: invert(1); /* Rend l'icône blanche */
}

/* Ajustement de l'input et du bouton en mode mobile */
@media (max-width: 576px) {
  .container-fluid {
    flex-wrap: nowrap; /* Empêche la ligne de se diviser */
    justify-content: space-between; /* Aligne les éléments en ligne */
    padding-left: 2px;
    padding-right: 2px;
  }

  .search-container {
    display: flex;
    align-items: center;
    width: auto; /* Ajuste automatiquement la largeur */
  }
  .navbar{
    padding-left: 1px;
    padding-right: 1px;
  }
}

