<main>
<div class="row row-cols-4 row-cols-md-5 g-4 customDivKhassida"  id="khassida" >
  <div class="col"   *ngFor="let khassida of khassidaList; trackBy: trackByKhassidaId">
    <img [src]="khassida.lienImg" class="card-img-top" [alt]="khassida.name">
    <div class="card-body">
      <h5 class="card-title fs-6">{{ khassida.name }}</h5>
      <a [href]="khassida.lienPdf" class="btn btn-primary" id="telecharger">Télécharger</a>
    </div>
  </div>
</div>
<app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="onPageChange($event)">
</app-pagination>
</main>
